<div ng-controller="UserController" class="mainView">
	<nav class="navbar navbar-default navbar-inverse">
	  <div class="container-fluid">
	    
	      <p class="navbar-brand">
	      	TIPPA - Hi {{user.firstname}}
	      </p>
	   
	    
	      <ul class="nav navbar-nav navbar-right righty">
	        <li><a href="" ng-click="logout()">Logout</a></li>

	      </ul>
	  </div><!-- /.container-fluid -->
	</nav>



	<div class="PageContent">

		<h3>

			<a href="#/main">Main</a>  |  
			<div class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown">Food
				  <span class="caret"></span></a>
				  <ul class="dropdown-menu">
				    <li><a href="#/barista">Barista</a></li>
				    <li><a href="#/bartender">Bartender</a></li>
				    <li><a href="#/delivery">Delivery</a></li>
				    <li><a href="#/takeout">TakeOut</a></li>
				  </ul>
			</div>  |  
			<div class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown">Hotel
				  <span class="caret"></span></a>
				  <ul class="dropdown-menu">
				    <li><a href="#/bellman">Bellman</a></li>
				    <li><a href="#/concierge">Concierge</a></li>
				    <li><a href="#/housekeeping">Housekeeping</a></li>
				    <li><a href="#/valet">Valet</a></li>
				    <li><a href="#/roomService">Room Service</a></li>

				  </ul>
			</div>  | 
			<div class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown">Travel
				  <span class="caret"></span></a>
				  <ul class="dropdown-menu">
				    <li><a href="#/bus">Bus</a></li>
				    <li><a href="#/cab">Cab</a></li>
				    <li><a href="#/chaffeur">Chauffeur</a></li>
				    <li><a href="#/gas">Gas</a></li>
				  </ul>
			</div>  | 
			<div class="dropdown">
				  <a class="dropdown-toggle" data-toggle="dropdown">Personal
				  <span class="caret"></span></a>
				  <ul class="dropdown-menu">
				    <li><a href="#/barber">Barber</a></li>
				    <li><a href="#/manicure">Mani</a></li>
				    <li><a href="#/spa">Spa</a></li>
				    <li><a href="#/massage">Massage</a></li>
				    <li><a href="#/shoe">Shoe-shine</a></li>

				  </ul>
			</div>
 
		</h3>

		<form>
			<input type="text" placeholder="Filter" ng-model="filtering">
		</form>

		<a onClick ="$('#historyTable').tableExport({type:'excel',ignoreColumn:'[2,8]',pdfFontSize:7, pdfLeftMargin:10, escape:'false'});" target="_blank">Export Table</a>

		<table class="table table-hover table-border" id="historyTable">
			<thead>
				<tr>
					<th><button ng-click="order('service')">Service</button>
						<span class="sortorder" ng-show="predicate === 'service'" ng-class="{reverse:reverse}"></span></th>
    				<th><button ng-click="order('location')">Location</button>
						<span class="sortorder" ng-show="predicate === 'location'" ng-class="{reverse:reverse}"></span></th>
					<th><button ng-click="order('createdAt')">Date</button>
						<span class="sortorder" ng-show="predicate === 'createdAt'" ng-class="{reverse:reverse}"></span></th>
					<th><button ng-click="order('mood')">Mood</button>
						<span class="sortorder" ng-show="predicate === 'mood'" ng-class="{reverse:reverse}"></span></th>
    				<th><button ng-click="order('price')">Bill</button>
						<span class="sortorder" ng-show="predicate === 'price'" ng-class="{reverse:reverse}"></span></th>
					<th><button ng-click="order('tip')">Tip</button>
						<span class="sortorder" ng-show="predicate === 'tip'" ng-class="{reverse:reverse}"></span></th>
					<th><button ng-click="order('tipAmount')">Tip Amount</button>
						<span class="sortorder" ng-show="predicate === 'tipAmount'" ng-class="{reverse:reverse}"></span></th>
    				<th><button ng-click="order('total')">Total Bill</button>
						<span class="sortorder" ng-show="predicate === 'total'" ng-class="{reverse:reverse}"></span></th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tip in tips | orderBy:predicate:reverse | filter: filtering | limitTo: displayNum" ng-if="tip._user._id == user._id">
					<td ng-bind="tip.service"></td>
					<td ng-bind="tip.location"></td>
					<td ng-bind="tip.createdAt | date:'MMM dd yyyy h:m:ss a'"></td>
					<td ng-bind="tip.mood"></td>
					<!-- <td>${{tip.price}}</td> -->
					<td ng-bind="'$' + tip.price "></td>
					<td>{{tip.tipPercent | number: 2}}%</td>
					<td>{{tip.tipAmount | currency: '$'}}</td>
					<td>{{tip.total | currency: '$'}}</td>
					<td><a href="" ng-click="remove_Tip(tip)">Remove</a></td>

				</tr>
			</tbody>
		</table>
		<a href="" ng-click="displayNum = tips.length">Show All</a> | <a href="" ng-click="increaseBy(5)">Show More</a> | <a href="" ng-click="decreaseBy(5)">Show Less</a>
	</div>
</div>